/*En-tête*/
.en-tête p:after {
    content: url("img-interface/logo.jpg");
    position: relative;
    bottom: -20px;
    left: 120px;
}
.en-tête {
    background-color: white;
    z-index: 3;
    position: fixed;
    padding-right: 800px;
    display: block;
    box-shadow: 10px 8px 5px rgb(233, 233, 233);
}
.menu-open .en-tête {
    box-shadow: none;
}
.en-tête:not(.page-accueil){
    top: 0;
}
.en-tête h3:first-of-type {
    visibility: hidden;
    position: absolute;
}
.en-tête h3:last-of-type {
    position: absolute;
    left: 25rem;
    top: 1rem;
}
.article-autres-projets .en-tête h3:last-of-type {
    width: 600px;
    left: 22rem;
}
.infos-pratiques .en-tête h3:last-of-type {
    top: -2rem;
    left: 22rem;
}

/*Pied de page*/
footer {
    display: block;
    background-color: rgba(73,50,75,0.1);
    box-shadow: 10px -8px 5px rgb(220, 220, 220);

}
footer {
    padding: 10px 40px 10px 40px;
}
.icon-instagram, .icon-facebook, .icon-twitter, .icon-gmail {
    font-size: 5rem;
    padding: 1rem;
}
.pied-de-page-icon {
    position: absolute;
    display: block;
    right: 70px;
    padding-top: 2rem;
}
.pied-de-page-icon a {
    text-decoration: none;
}
