.en-tête p:after {
    content: url("img-interface/logo.PNG");
    position: relative;
    bottom: -20px;
    left: 120px;
}
.en-tête {
    background-color: white;
    z-index: 3;
    position: fixed;
    padding: 0 800px 30px 0 ;
}
.en-tête h3 {
    position: absolute;
    left: 500px;
    bottom: 10px;
}