/*Page d'accueil*/
.accueil{
    padding-top: 15rem;
}
.accueil h1 {
    background-color: #BEEC77;
    padding: 35rem 0 43rem 2.5rem;
    margin: 0;
}
.fa-angle-down {
    position: absolute;
    font-size: 200px;
    left: 400px;
    bottom: 50px;
    color: #558A67;
}
.accueil>h2:first-of-type {
    background-color: rgba(190, 236, 119, 0.3);
    padding: 2rem 0 2rem 2rem;
    margin: 0;
    font-size: 5rem;
}
.fa-home {
    font-size: 5rem;
    padding-right: 2rem;

}
.contenu-accueil-1, .contenu-accueil-3 {
    margin: 100px 70px 100px 70px;

}
.contenu-accueil-2, .contenu-accueil-4 {
    background-color: rgba(190, 236, 119, 0.3);
    padding: 40px 70px 100px 70px;
}
.contenu-accueil-4 {
    margin-bottom: 5rem;
}
.page-accueil .fa-arrow-alt-circle-right {
    font-size: 3.5rem;
    padding: 5px;
}
.contenu-accueil a {
    color: #49324B;
}

/*Placement images page d'accueil*/
.contenu-accueil img {
    height: 80%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Autres pages*/
main:not(.accueil) {
    padding: 20rem 70px 180px 70px ;
    background-color: rgba(190, 236, 119, 0.1);
}

button a{
    color: #49324B;
}
button {
    position: absolute;
    right: 50px;
    padding: 20px 80px 20px 20px;
    margin: 0;
    background-color: rgba(85, 138, 103, 0.5);
    box-shadow: 10px 8px 5px rgb(233, 233, 233);
}
button:hover {
    background-color: rgba(85, 138, 103, 0.1);
}
.fa-arrow-alt-circle-right:not(.page-accueil) {
    position: absolute;
    font-size: 3rem;
    padding-left: 15px;
}
.fa-angle-up {
    position: fixed;
    font-size: 7rem;
    background-color: rgba(85, 138, 103, 0.5);
    border-radius: 100%;
    padding: 10px 30px 10px 30px;
    right: 50px;
    top: 120rem;
    color: #49324B;
    z-index: 3;
}
figcaption {
    margin-left: 70px;
    padding: 20px;
}
figure {
    margin: 0 -70px 0 -70px;
}


/*Page Snowden*/
.resume-1 img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.img-resume-2-act {
    display: inline-block;
}
.img-resume-2-act img{
    width: 50%;
    position: relative;
    float: right;
    margin-top: -60px;
}
.img-resume-2-act figcaption {
    padding-top: 105px;
}
.img-resume-2-code img, .resume-3 img{
    width: 100%;
    height: 100%;
}
video {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*Page problèmes*/
.article-problèmes img {
    width: 100%;
    height: 100%;
}
.problemes-web img, .problemes-energie img{
    width: 70%;
    margin-left: 140px;
    padding-bottom: 50px;
}
.problemes-materiel figcaption a{
    color: #558A67;
}
.img-problemes-intro img{
    width: 70%;
    position: relative;
}
.img-problemes-intro img:last-of-type {
    float: right;
    padding-bottom: 100px;
}
.img-problemes-intro figcaption:first-of-type {
    position: relative;
    float: left;
    margin-left: 0;
}
.img-problemes-intro figcaption:last-of-type {
    position: relative;
    float: right;
    top: -100px;
}
q {
    display: block;
    position: relative;
    background-color: rgba(73, 50, 75, 0.1);
    border: #49324B;
    width: 50%;
    float: right;
    padding: 30px 30px 30px 30px;
    margin: 30px -30px 30px 0;
    border-radius: 10%;
    font-size: 2rem;
    font-family: "Roboto Mono", monospace;
    text-align: right;
 }


/*Page solutions*/
.img-sol-terre img{
    width: 30%;
    position: relative;
    float: right;
    top: -70px;
    right: 50px;
}
.img-sol-gafam img{
    width: 90%;
    padding-left: 30px;
    padding-top: 30px;
}
.img-sol-gafam figcaption {
    padding: 0 0 80px 0;
}
.img-sol-natik img {
    width: 80%;
    padding: 30px 0 0 70px;
}
.img-sol-natik figcaption {
    padding: 0 0 80px 0;
}
.img-sol-energ {
    position: absolute;
    right: 70px;
    top: 347rem;
}
.img-sol-recycle img {
    width: 100%;
    height: 100%;
}
.sol-scientifique h2 {
    position: relative;
    z-index: 2;
    margin-right: 20rem;
    margin-left: -60px;
    padding-top: 100px;
    padding-bottom: 80px;
}
.sol-scientifique img{
    position: absolute;
    z-index: 1;
    width: 40%;
    top: 651rem;
    right: 0;
}
.sol-scientifique li {
    list-style-type: circle;
}



/*Page autres projets*/
.article-autres-projets main h4{
    padding: 30px;
}
li {
    list-style-type: none;
}
.article-autres-projets img {
    width: 30%;
    height: 30%;
}
.article-autres-projets main a {
    color: #49324B;
    font-weight: bold;
}
.article-autres-projets main ul {
    padding: 5rem 3rem 4rem 3rem;
    background-color: rgba(190, 236, 119, 0.4);
    border-radius: 30px;
}
.article-autres-projets main li img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7rem;
}
.article-autres-projets main li p {
    text-align: center;
    margin-bottom: 7rem;
}
.article-autres-projets main li:not(:last-of-type) {
    border-bottom: solid #49324B 1px;
}

/*Page infos pratiques*/
textarea, button {
    margin: 20px 0 20px 0;
    border: none;
    border-radius: 30px;
}
textarea {
    padding: 20px;
    background-color: rgba(73, 50, 75, 0.1);
}
.infos-pratiques button {
    left: 70px;
    top: 187rem;
    padding-right: 30px;
    background-color: rgba(73, 50, 75, 0.3);
}
.infos-pratiques button:hover {
    background-color: rgba(73, 50, 75, 0.1);
}
textarea:focus, button:focus {
    outline: none;
}

