@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.en-tête {
    color: transparent;
}
.menu {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}